{% extends "report-manager/_layouts/settings" %}
{% set title = "General Settings"|t('report-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'general' %}

{% set plugin = craft.app.plugins.getPlugin('report-manager') %}
{% set crumbs = [
    {
        label: reportHelper.fullName|t('report-manager'),
        url: url('report-manager'),
    },
    {
        label: 'Settings'|t('report-manager'),
        url: url('report-manager/settings'),
    },
    {
        label: 'General'|t('report-manager'),
        url: url('report-manager/settings/general'),
    },
] %}

{% block content %}
    {{ actionInput('report-manager/settings/save') }}
    {{ redirectInput('report-manager/settings/general') }}
    {{ hiddenInput('section', 'general') }}

        <h2 class="first">{{ "General Settings"|t('report-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-plugin-name' with {
            settings: settings,
            pluginHandle: 'report-manager',
        } only %}

        <hr>

        <h2>{{ "Logging Settings"|t('report-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-log-level' with {
            settings: settings,
            pluginHandle: 'report-manager',
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
